ion-checkbox {
    margin: 0 10px;
}

ion-icon {
    font-size: 24px;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    line-height: 1.2;
}

p {
    padding: 0px;
    margin: 0px;
}

.input {
    border: white solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0px;
}

.direccion {
    color: orange;
    font-weight: bold;
    font-size: 15px;
}

.info {
    color: #d0d0d0;
    font-weight: bold;
    font-size: 12px;
}