.fecha{
    font-size: 10px;
}

.itempost {
    border-bottom: 1px #666 solid;
}

.titulo{
    font-weight: bold;
    padding-right: 5px;
}

.avatar-top {
    margin: 5px 3px 3px 0;
    width: 20px;
    height: 20px;
}

.publicar {
    color: #fff;
}

.mt0{
    margin-top: 9px !important;
}

.coment{
    font-size: 12px;
}

.coment{
    font-size: 12px;
    background: #4c4c4c;
    border-radius: 16px;
    padding: 8px;
}

ion-item {
    --min-height: 0px;
}