.fecha{
    font-size: 10px;
}

.itempost {
    border-bottom: 1px #666 solid;
}

.titulo{
    font-weight: bold;
    padding-right: 5px;
}

.avatar-top {
    margin: 5px 3px 3px 0;
    width: 20px;
    height: 20px;
}

.publicar {
    color: #fff;
}

.mt0{
    margin-top: 9px !important;
}

.coment{
    font-size: 12px;
}

ion-item {
    --min-height: 0px;
}

.textosinimagen { 
    font-size: 30px;
    color: pink;
  }