// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);

  --page-actions-padding: 5px;
  --page-friends-gutter: calc(var(--page-margin) / 2);
  --page-pictures-gutter: calc(var(--page-margin) / 2);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-details-section {
  --ion-grid-column-padding: 0px;
  margin: 0;
  height: 250px;
  margin-bottom: 107px;

    .user-image-wrapper {
    max-width: 26%;
    position: absolute;
    top: 148px;
    }

    .user-info-wrapper {
    padding-left: var(--page-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

      .user-data-row {
      padding-bottom: var(--page-margin);
      flex-wrap: nowrap;
      justify-content: space-between;

        .user-name {
        margin: 0px 0px 5px;
        font-size: 20px;
        letter-spacing: 0.5px;
        }

        .user-title {
        margin: 0px;
        color: var(--ion-color-medium);
        font-size: 16px;
        }

        .membership-col {
        padding-left: var(--page-margin);
        flex-grow: 0;
        }

        .user-membership {
        display: block;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-lightest);
        border-radius: var(--app-narrow-radius);
        padding: 4px 8px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        }
      }

      .actions-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: var(--page-actions-padding);

      justify-content: space-between;
      flex-wrap: nowrap;
      margin-left: calc(var(--page-actions-padding) * -1);
      margin-right: calc(var(--page-actions-padding) * -1);

        .main-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);
        display: flex;

          .call-to-action-btn {
          padding: 0px var(--page-actions-padding);
          margin: 0px;
          }
        }

        .secondary-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;

          .more-btn {
          --padding-start: 4px;
          --padding-end: 4px;

          margin: 0px;
          }
        }
      }
    }
  }

  .user-stats-section {
  --ion-grid-column-padding: 0px;

    margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
    padding-bottom: var(--page-margin);
    border-bottom: 1px solid var(--ion-color-light-shade);
    margin-top: 148px;

      .user-stats-wrapper {
      text-align: center;

        .stat-value {
        display: block;
        padding-bottom: 5px;
        color: var(--ion-color-dark-shade);
        font-weight: 500;
        font-size: 18px;
        }

        .stat-name {
        font-size: 16px;
        color: var(--ion-color-medium);
        }
      }
  }

  .details-section-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 0px 0px var(--page-margin);
  }

  .user-about-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

    .user-description {
    color: #fff;
    text-align: justify;
    margin: var(--page-margin) 0px;
    font-size: 14px;
    line-height: 1.3;
    }
  }

  .user-friends-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

    .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

      .details-section-title {
      margin: 0px;
      }

      .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--ion-color-secondary);
      }
    }

    .friends-row {
    --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
    --ion-grid-column-padding: 0px;

    flex-wrap: nowrap;
    overflow-x: scroll;
    will-change: scroll-position;
    margin-left: calc(var(--page-margin) * -1);
    margin-right: calc(var(--page-margin) * -1);

      &::before,
      &::after {
      content: '';
      // .friend-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
      flex: 0 0 calc(var(--page-margin) - var(--page-friends-gutter));
      }

      .friend-item {
      padding: 0px var(--page-friends-gutter);

        .friend-name {
        display: block;
        text-align: center;
        margin: var(--page-margin) 0px;
        font-size: 14px;
        }
      }
    }
}

  .user-photos-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: calc(var(--page-margin) * 2);

    .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

      .details-section-title {
      margin: 0px;
      }

      .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--ion-color-secondary);
      }
    }

    .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--page-pictures-gutter) * -1);

    .picture-item {
    padding: 0px var(--page-pictures-gutter) calc(var(--page-pictures-gutter) * 2);
    }
    }
  }
// Alerts and in general all overlays are attached to the body or ion-app directly
// We need to use ::ng-deep to access it from here
  ::ng-deep .language-alert {


  // Variables should be in a deeper selector or after the mixin include to override default values
  --select-alert-color: var(--ion-color-lightest);
  --select-alert-background: var(--ion-color-primary);
  --select-alert-margin: var(--app-fair-margin);

    .alert-message {
    display: none;
    }
  }


// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
  :host {
  --page-margin: var(--app-narrow-margin);
  }

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.notifications-content {
ion-item-divider {
--background: var(--ion-color-dark);
--padding-start: var(--page-margin);
}

.notification-item {
--padding-start: 0px;
--inner-padding-end: 0px;

padding: 0px;
color: var(--ion-color-medium);
box-shadow: inset 0 8px 2px -9px var(--ion-color-darkest);
background: red;

.notification-item-wrapper {
--ion-grid-column-padding: 0px;
width: 100%;
align-items: center;
background: #1C1C1C;
}

.details-wrapper {
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left: var(--page-margin);

.details-name {
margin-top: 0px;
margin-bottom: 5px;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.2px;
color: var(--ion-color-secondary);
}

.details-description {
font-size: 12px;
margin: 0px;
}
}

.date-wrapper {
align-self: flex-start;
padding-top: 14px;

.notification-date {
margin: 0px;
font-size: 12px;
text-align: end;
}
}
}
}

.cover {
background-size: cover !important;
}

.img-redonda {
width:200px;
height:200px;
border-radius:150px;
border: solid black 10px;
}

.image-center{
margin:0 auto;
width: 200px;
height: 200px;
border: solid #fff 4px;
}

.sucursales{
color: white;
text-align: center;
}

.iconperfil{
padding: 0 10px;
}

.descripcion p{
font-size: 20px;
}

.ion-text-center, [text-center] {
margin: 0;
}


.feed-block {
margin-bottom: 15px;
background: #2b2b2b;
.block-image {
width: 100%;
display: block;
text-align: center;
background: #212020;
img {
min-width: 100%;
background: rgb(252, 252, 252);
}
}
.block-header {
ion-label {
h3 {
font-size: 14px;
font-weight: bold;
}
p {
line-height: 16px;
}
}
ion-avatar {
border: 1px solid rgba(0, 0, 0, 0.3);
}
}
.block-icons {
padding: 5px 15px;
ion-icon {
font-size: 28px;
margin-right: 20px;
color: #fff;
}
}
.block-desc {
padding: 0 15px 8px 15px;
font-size: 14px;
font-family: sans-serif;
.likes {
font-weight: bold;
font-size: 14px;
}
}
}


.grid-gallery {
display: grid;
grid-auto-rows: 200px;
grid-gap: 0rem;
grid-auto-flow: row dense;
overflow: hidden;
}

@media all and (min-width: 320px) {
.grid-gallery {
grid-template-columns: repeat(2, 1fr);
}
}

@media all and (min-width: 768px) {
.grid-gallery {
grid-template-columns: repeat(3, 1fr);
}
}

@media all and (min-width: 1024px) {
.grid-gallery {
grid-template-columns: repeat(6, 1fr);
}
}

.grid-gallery__item:nth-child(11n+1) {
grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
grid-column: span 2;
grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
grid-column: span 3;
grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
grid-column: span 1;
grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
grid-column: span 2;
grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
grid-row: span 3;
}

.grid-gallery__image {
width: 100%;
height: 100%;
object-fit: cover;
}


.pins2 {
column-count: 3;
column-gap:4px;
margin: 0px;
padding: 0;
break-inside: avoid;
}

.pin {
display: inline-block;
margin: 0;
padding: 0px;
}

.pins1 {
column-count: 1;
}

.mas {
display: inline-block;
vertical-align: middle;
line-height: normal;
padding-top: 38px;
font-weight: bold;
font-size: 40px;
}

.bgmas {
background-size : cover;
width : 100%; 
height : 150px;
background: rgba(0, 0, 0, 0.6);
}

.notification-item-wrapper {
--ion-grid-column-padding: 0px;
width: 100%;
align-items: center;
background: #1C1C1C;
}

.details-wrapper {
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left: var(--page-margin);

.details-name {
margin-top: 0px;
margin-bottom: 5px;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.2px;
color: var(--ion-color-secondary);
}

.details-description {
font-size: 12px;
margin: 0px;
}
}

.date-wrapper {
align-self: flex-start;
padding-top: 14px;

.notification-date {
margin: 0px;
font-size: 12px;
text-align: end;
}
}

ion-card-content {
padding: 0px;
}

.colsucursal {
background: #464444;
color: white;
}

.btnagregarsucursal {
font-size: 10px;
}

.feed-block {
margin-bottom: 15px;
background: #2b2b2b;
.block-image {
width: 100%;
display: block;
text-align: center;
background: #212020;
img {
min-width: 100%;
background: rgb(252, 252, 252);
}
}
.block-header {
ion-label {
h3 {
font-size: 14px;
font-weight: bold;
}
p {
line-height: 16px;
}
}
ion-avatar {
border: 1px solid rgba(0, 0, 0, 0.3);
}
}
.block-icons {
padding: 5px 15px;
ion-icon {
font-size: 28px;
margin-right: 20px;
color: #fff;
}
}
.block-desc {
padding: 0 15px 8px 15px;
font-size: 14px;
font-family: sans-serif;
.likes {
font-weight: bold;
font-size: 14px;
}
}
}


.grid-gallery {
display: grid;
grid-auto-rows: 200px;
grid-gap: 0rem;
grid-auto-flow: row dense;
overflow: hidden;
}

@media all and (min-width: 320px) {
.grid-gallery {
grid-template-columns: repeat(2, 1fr);
}
}

@media all and (min-width: 768px) {
.grid-gallery {
grid-template-columns: repeat(3, 1fr);
}
}

@media all and (min-width: 1024px) {
.grid-gallery {
grid-template-columns: repeat(6, 1fr);
}
}

.grid-gallery__item:nth-child(11n+1) {
grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
grid-column: span 2;
grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
grid-column: span 3;
grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
grid-column: span 1;
grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
grid-column: span 2;
grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
grid-row: span 3;
}

.grid-gallery__image {
width: 100%;
height: 100%;
object-fit: cover;
}


.pins2 {
column-count: 3;
column-gap:4px;
margin: 0;
padding: 0;
break-inside: avoid;
}

.pin {
display: inline-block;
margin: 0;
padding: 0px;
}

.pins1 {
column-count: 1;
}

.mas {
display: inline-block;
vertical-align: middle;
line-height: normal;
padding-top: 38px;
font-weight: bold;
font-size: 40px;
}

.bgmas {
background-size : cover;
width : 100%; 
height : 150px;
background: rgba(0, 0, 0, 0.6);
}

.contenedor-imagenes{
width: 100%;
height: 400px;
background: orange no-repeat center center;
background-size: cover;
}

h3 {
margin: 0 0 0px;
}

.block-icons {
padding: 5px 15px;
ion-icon {
font-size: 28px;
margin-right: 20px;
color: #fff;
}
}