<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="btn-menu"></ion-menu-button>
    </ion-buttons>
  <ion-title>EasyGo</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <!-- List of Text Items -->
<ion-list style="background: #232323" class="ion-no-padding">
  <ion-list-header color="dark">
    <ion-label>Promociones EasyGo de {{ profile.name }}</ion-label>
  </ion-list-header>
  <ion-item [routerLink]="['/vereasygo', item.id]" class="animated fadeInLeft slow{{i+1}}" *ngFor="let item of miseasygo; let i = index" color="dark" class="ion-no-padding">
    <ion-avatar slot="start">
      <img src="{{ profile.avatar }}">
    </ion-avatar>
    <ion-label>{{ item.descripcion }}</ion-label>
  </ion-item>
</ion-list>

</ion-content>
