.fecha{
    font-size: 10px;
    font-weight: bold;
}

.itempost {
    border-bottom: 1px #666 solid;
    margin-bottom: 12px;
}

.titulo{
    font-weight: bold;
    padding-right: 5px;
}

.avatar-top {
    margin: 5px 16px 8px 0;
    margin-bottom: auto;
}

.publicar {
    color: #fff;
}

.mt0{
    margin-top: 0px !important;
}

.coment{
    font-size: 12px;
    background: #4c4c4c;
    border-radius: 16px;
    padding: 8px;
}

.respuestas{
    padding-left: 30px;
}

.comentario {
    width: 100%;
}

.fecha {
    clear: both;
    width: 100%;
}