<div class="stories">
    <div class="story">
      <div class="add_story">
        <img src="../../assets/1.jpg">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p style="color: #86888f;">libra.laura</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/9.jpg">
      </div>
      <p>susan_mda</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/3.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../assets/15.jpg">
      </div>
      <p>conditoris</p>
    </div>
  </div>